body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#start-quiz {
    background-color: #373669;
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 0.80em;
}

.container {
  margin: auto;
  width: 100%;
}

main .container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

main > .container > h2 {
  padding: 0.5em 1em;
  font-size: 2em;
}

#open-new-card-modal {
  background-color: #ffdc3f;
  color: #666;
}

#open-delete-all-modal {
  background-color: #ff6b6b;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 0.5em;
  flex: 1;
  min-width: 30%;
}

.card-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  height: 300px;

  text-align: center;
  overflow: scroll;
}

.answer,
.question {
  padding: 0.5em;
}

.card .answer {
  display: none;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

