body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  margin: auto;
  width: 100%;
}

main .container {
  margin: auto;
}

main > .container > h2 {
  padding: 0.5em 1em;
  font-size: 2em;
}

.deck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.deck-header .deck-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.deck-header .deck-header-title > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.deck-header .actions {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
}

.deck-header button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#open-new-card-modal {
  background-color: #ffdc3f;
  color: #666;
}

#open-delete-all-modal {
  background-color: #ff6b6b;
  color: #fff;
}

.cards {
  margin-top: 1em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.card .answer {
    display: none;
}

