body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.actions {
    display: flex;
    padding: 1.5em;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.container {
    margin: auto;
    width: 100%;
}


.actions button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

#new-deck-btn {
    background-color: #ffdc3f;
    color: #666;
}

#delete-all-btn {
    background-color: #ff6b6b;
    color: #fff;
}

.deck {
    list-style: none;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
