body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  background-color: #f9fafb;
}

.container {
  margin: 0 auto;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2em;

  background-color: #ffffff;
  border-radius: 0.5em;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  width: 500px;
  margin: 1em auto;
  padding: 1.5em;
}

.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.header-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.header-message h2 {
  font-size: 2em;
  color: #1f2937;
  margin: 0;
}
.header-message p {
  font-size: 1.2em;
  color: #4c5664;
  margin: 0;
}

.result-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #eef2ff;
  border: 1px solid #c7d2fe;
  border-radius: 0.5em;
  padding: 1em;

  width: 100%;
  box-sizing: border-box;

  gap: 1em;
}

.result-overview h2 {
  color: #3730a3;
  font-size: 1.5em;
}

hr {
  border: 1px solid #e5e7eb;
  margin: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info p {
  margin: 0;
}

.result-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.result-details-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.result-details-header h2 {
  font-size: 1.5em;
  color: #1f2937;
  margin: 0;
}

.result-details-header hr {
  margin: 0;
  width: 100%;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.question-container {
  display: flex;
  gap: 1em;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  box-sizing: border-box;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.correct {
  background-color: #f0fdf4;
  border: 2px solid #bbf7d0;
}

.wrong {
  background-color: #fef2f2;
  border: 2px solid #fed3d3;
}

.question p {
  margin: 0;
}

.question-text {
  font-weight: 700;
}

.user-answer-text {
  color: #4b5563;
}

.correct-answer-text {
  font-weight: 700;
  color: #1d8443;
}

.btn.deck {
    background-color: #e5e7eb;
    color: #1f2937;
    text-decoration: none;
}
.btn.decks {
    background-color: #4f46e5;
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
