<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Decks</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/decks-style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>

  <body>

    <header>
      <div class="container">
        <a id="logo" href="/">
          <img
            src="/static/svg/stack.svg"
            alt="Stack Icon"
            width="48"
            height="48"
          />
          <h1>Recallr</h1>
        </a>
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
            <li><a href="/deck">Decks</a></li>
            <li><button id="logout">Logout</button></li>
            {% else %}
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <div class="error-modal modal">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flashes">
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <button>
          <span class="material-symbols-outlined icon-small"> close </span>
        </button>
      </div>
      {% endif %} {% endwith %}
    </div>

    <!-- delete deck modal -->
    <div class="modal" id="delete-deck-modal">
      <div class="container">
        <form id="delete-deck-form">
          <h2 id="delete-deck-title">Delete Deck</h2>
          <div class="input-group">
            <p>Are you sure you want to delete this deck?</p>
          </div>
          <div class="form-actions">
            <button
              type="button"
              id="close-delete-deck-btn"
              class="cancel-button"
            >
              Cancel
            </button>
            <input
              type="submit"
              id="submit-delete-deck-btn"
              class="confirm-button"
              value="Delete"
            />
          </div>
        </form>
      </div>
    </div>

    <!-- delete all decks modal -->
    <div class="modal" id="delete-all-modal">
      <div class="container">
        <form id="delete-all-form">
          <h2>Delete All Decks</h2>
          <div class="input-group">
            <p>Are you sure you want to delete all decks?</p>
          </div>
          <div class="form-actions">
            <button
              type="button"
              id="close-delete-all-btn"
              class="cancel-button"
            >
              Cancel
            </button>

            <input
              type="submit"
              id="submit-delete-all-btn"
              class="confirm-button"
              value="Delete"
            />
          </div>
        </form>
      </div>
    </div>

    <div class="modal" id="update-deck-modal">
      <div class="container">
        <form id="update-deck-form">
          <h2>Update deck</h2>
          <div class="input-group">
            <label for="name">Deck Name</label>
            <p class="hint">
              Ensure that there are no special characters in the deck name. like
              <code>[</code>, <code>]</code>, <code>&lt;</code>,
              <code>&gt;</code>, <code>/</code>, <code>?</code>, <code>\</code>,
              <code>,</code>, <code>:</code>, <code>*</code>,
              <code>SPACE</code>, <code>|</code> <code>&amp;</code>,
              <code>+</code>.
            </p>
            <input type="text" name="name" id="update-input-deck-name" />
          </div>

          <ul id="update-deck-messages" class="m-0"></ul>

          <div class="form-actions">
            <button
              type="button"
              id="close-update-deck-btn"
              class="cancel-button"
            >
              Cancel
            </button>
            <input
              type="submit"
              id="submit-update-deck-btn"
              class="confirm-button"
              value="Update"
            />
          </div>
        </form>
      </div>
    </div>

    <div class="modal" id="create-deck-modal">
      <div class="container">
        <form action="/deck" method="POST">
          <h2>Create a new deck</h2>
          <div class="input-group">
            <label for="name">Deck Name</label>
            <p class="hint">
              Ensure that there are no special characters in the deck name. like
              <code>[</code>, <code>]</code>, <code>&lt;</code>,
              <code>&gt;</code>, <code>/</code>, <code>?</code>, <code>\</code>,
              <code>,</code>, <code>:</code>, <code>*</code>,
              <code>SPACE</code>, <code>|</code> <code>&amp;</code>,
              <code>+</code>.
            </p>
            <input
              type="text"
              name="name"
              id="input-deck-name"
              placeholder="Enter a name for your deck"
            />
          </div>
          <ul id="create-deck-messages" class="m-0"></ul>
          <div class="form-actions">
            <button
              type="button"
              id="close-create-deck-btn"
              class="cancel-button"
            >
              Cancel
            </button>
            <input
              type="submit"
              disabled="true"
              id="submit-create-deck-btn"
              class="confirm-button"
              value="Create"
            />
          </div>
        </form>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="deck-header">
          <div class="deck-header-title">
            <a href="/">
              <img
                src="/static/svg/back.svg"
                width="18"
                height="18"
                alt="Back Icon"
              />
            </a>
            <h2>All Decks</h2>
          </div>

          <div class="actions">
            <button class="btn" id="new-deck-btn">Create deck</button>
            <button class="btn" id="delete-all-btn">Delete All Decks</button>
          </div>
        </div>

        <div class="container" id="decks">
          {% for deck_id, deck in decks.items() %}
          <div
            class="deck"
            data-deck-name="{{deck}}"
            data-deck-id="{{deck_id}}"
          >
            <div class="deck-action">
              <span class="material-symbols-outlined delete"> delete </span>
              <span class="material-symbols-outlined edit"> edit </span>
            </div>
            <div class="deck-name">
              <a href="/deck/{{ deck_id }}"> {{ deck }} </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>

    <script src="/static/js/decks.js"></script>
    <script src="/static/js/errorModal.js"></script>
    <script src="/static/js/logout.js"></script>

  </body>
</html>
