<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/404-style.css" />
  </head>
  <body>

    <header>
      <div class="container">
        <a id="logo" href="/">
          <img
            src="/static/svg/stack.svg"
            alt="Stack Icon"
            width="48"
            height="48"
          />
          <h1>Recallr</h1>
        </a>
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
            <li><a href="/deck">Decks</a></li>
            <button id="logout">Logout</button>
            {% else %}
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
            <li><a href="/help">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <span
          class="material-icons material-symbols-outlined icon-big icon-red"
        >
          error_outline
        </span>
        <h1>{{ error.title }}</h1>
        <p>{{ error.message }}</p>
        <a href="/">Go back to the home page</a>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>
    <script src="/static/js/logout.js"></script>
  </body>
</html>
