<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recallr Help</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/help-style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <a id="logo" href="/">
          <img
            src="/static/svg/stack.svg"
            alt="Stack Icon"
            width="48"
            height="48"
          />
          <h1>Recallr</h1>
        </a>
        <nav>
          <ul>
            <li><a href="/help">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="help-header-container">
          <h1>Help</h1>
          <p>This is a help page for Recallr</p>
        </div>
        <div class="instruction-container">
          <h2>What is Recallr?</h2>
          <p>
            Recallr is a web application designed to help users make a decks and
            flashcards for studying. It allows users to create, manage, and
            review flashcards efficiently.
          </p>
        </div>
        <div class="instruction-container">
          <h2>What does it do?</h2>
          <p>
            Recallr allows users to create decks of flashcards. Each deck has a
            name and a set of cards. Each card has a question and an answer. The
            platform also allows users to do quizzes to see how well they
            remember their flashcards. Results of quizzes can be reviewed by
            users to see the question they got wrong and the ones they got
            right.
          </p>
        </div>

        <div class="instruction-container">
          <h2>How do you use it?</h2>
          <p>Below is a detailed guide to using every feature of Recallr.</p>
        </div>

        <div class="instruction-container-grid">
          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-blue">
                add_circle
              </span>
              <h2>How do I create a deck?</h2>
            </div>
            <ol>
              <li>Go to the home page of Recallr.</li>
              <li>Click on get started.</li>
              <li>Click on the "Create Deck" button.</li>
              <li>Enter the name of the deck.</li>
              <li>Click on the "Create" button.</li>
            </ol>
          </div>

          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-green">
                edit
              </span>
              <h2>How can I edit a deck?</h2>
            </div>

            <ol>
              <li>Go to the deck page.</li>
              <li>Click on the "Edit" button.</li>
              <li>Enter the new name for the deck.</li>
              <li>Click on the "Update" button.</li>
            </ol>
          </div>

          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-red">
                delete_outline
              </span>
              <h2>How can I delete a deck?</h2>
            </div>
            <ol>
              <li>Go to the deck page.</li>
              <li>Click on the "Delete" button.</li>
              <li>This is going to open a confirmation modal.</li>
              <li>Click on the "Delete" button.</li>
            </ol>
            <p>Note: This will delete all the cards in the deck.</p>
          </div>

          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-blue">
                add_box
              </span>
              <h2>How can I create a card?</h2>
            </div>
            <ol>
              <li>Go to the deck page.</li>
              <li>Click on the "Create Card" button.</li>
              <li>Enter the question for the card.</li>
              <li>Enter the answer for the card.</li>
              <li>Click on the "Create" button.</li>
            </ol>
          </div>

          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-green">
                edit
              </span>
              <h2>How can I edit a card?</h2>
            </div>
            <ol>
              <li>Go to the deck page.</li>
              <li>Click on the "Edit Card" button.</li>
              <li>Enter the new question for the card.</li>
              <li>Enter the new answer for the card.</li>
              <li>Click on the "Update" button.</li>
            </ol>
          </div>

          <div class="instruction-container-small">
            <div class="icon-container">
              <span class="material-symbols-outlined icon icon-red">
                delete_outline
              </span>
              <h2>How can I delete a card?</h2>
            </div>
            <ol>
              <li>Go to the deck page.</li>
              <li>Click on the "Delete Card" button.</li>
              <li>This is going to open a confirmation modal.</li>
              <li>Click on the "Delete" button.</li>
            </ol>
            <p>Note: This is a permanent action and cannot be undone.</p>
          </div>
        </div>

        <div class="instruction-container">
          <h2>How do I start a quiz?</h2>
          <ol>
            <li>Go to the deck page.</li>
            <li>if the deck is empty add some cards to it.</li>
            <li>
              After you have added some cards, click on the "Start Quiz" button.
            </li>
            <li>After you have finished a quiz, you can review the results.</li>
          </ol>
        </div>

        <div class="instruction-container">
          <h2>How do I review the results of a quiz?</h2>
          <ol>
            <li>Go to the decks page.</li>
            <li>Click on the deck you want to review.</li>
            <li>Click on "Previous Results" button.</li>
            <li>You can then see a list of your previous quizzes.</li>
            <li>
              Click on the arrow at the end of quiz result row to see the quiz.
            </li>
          </ol>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>
  </body>
</html>
