<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recallr: Flash Cards for smarter learning</title>
    <link rel="stylesheet" href="/static/css/index-style.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
  </head>

  <body>

    <header>
      <div class="container">
        <a id="logo" href="/">
          <img
            src="/static/svg/stack.svg"
            alt="Stack Icon"
            width="48"
            height="48"
          />
          <h1>Recallr</h1>
        </a>
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
            <li><a href="/deck">Decks</a></li>
            <button id="logout">Logout</button>
            {% else %}
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
            <li><a href="/help">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="hero">
      <img
        src="/static/images/hero.webp"
        alt="Image of sticky note on a notebook with a pen next to it"
      />
      <div class="container">
        <h2>Flash Cards for smarter learning</h2>
        <p>
          Recallr is a web app that helps you learn new things by creating flash
          cards. It's like a digital flashcard app, but for your brain.
        </p>

        {% if current_user.is_authenticated %}
            <a href="/deck" class="cta-button">Start learning</a>
        {% else %}
            <a href="/signup" class="cta-button">Sign Up</a>
        {% endif %}
      </div>
    </div>

    <section class="features">
      <div class="container">
        <h3>Why Recallr?</h3>
        <ul>
          <li>
            <img
              src="/static/svg/writing.svg"
              alt="Writing Icon"
              width="48"
              height="48"
            />
            <p>
              <strong>Personalized learning</strong>: Create decks tailored to
              your learning style and goals
            </p>
          </li>
          <li>
            <img
              src="/static/svg/timer.svg"
              alt="Timer Icon"
              width="48"
              height="48"
            />
            <p><strong>Quizes</strong>: Test your knowledge with quizes</p>
          </li>

          <li>
            <img
              src="/static/svg/pin.svg"
              alt="Study Icon"
              width="48"
              height="48"
            />
            <p>
              <strong>Study without distractions</strong>: Our Ui is designed to
              be fast and distraction-free.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>

    <script src="/static/js/logout.js"></script>
  </body>
</html>
