<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ</title>

    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/quiz-style.css" />
  </head>
  <body>
    <main>
      <div class="container quiz-header">
        <h1>QUIZ for {{deck}}, quiz id: {{quiz.quiz_id}}</h1>
        <h2>Total Time remaining <span></span></h2>
      </div>

      <div
      class="card-container"
      data-deck-name="{{deck}}"
      data-quiz-start="{{quiz.start_epoch}}"
      data-quiz-end="{{quiz.end_epoch}}"
      data-quiz-id="{{quiz.quiz_id}}">
        {% for card_id, card in quiz.cards.items() %}
        <div
          class="card"
          data-card-id="{{ card_id }}"
          style="
          z-index: {{ quiz.cards|length - loop.index }};
          top: calc({{ (loop.index) * 10 }}px + 50%);
          transform: translateY(-50%) translateX(-50%);
          left: calc({{ (loop.index % 3) * 10 }}px + 50%);
          "
        >
          <p class="question">{{ card.question }}</p>
          <form>
            <input class="quiz-input" type="text" placeholder="Write your answer" />
          </form>
        </div>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>

    <script src="/static/js/quiz.js"></script>
  </body>
</html>
