<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ</title>

    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/quiz-style.css" />
  </head>
  <body>
    <main>
      <div class="container quiz-header">
        <h1>QUIZ for {{deck}}, quiz id: {{quiz.quiz_id}}</h1>
        <h2>Total Time remaining <span></span></h2>
      </div>

      <div
      class="card-container"
      data-deck-name="{{deck}}"
      data-quiz-start="{{quiz.start_epoch}}"
      data-quiz-end="{{quiz.end_epoch}}"
      data-quiz-id="{{quiz.quiz_id}}">
        {% for card_id, card in quiz.cards.items() %}
        <div
          class="card"
          data-card-id="{{ card_id }}"
          style="
          z-index: {{ quiz.cards|length - loop.index }};
          top: calc({{ (loop.index) * 10 }}px + 50%);
          transform: translateY(-50%) translateX(-50%);
          left: calc({{ (loop.index % 3) * 10 }}px + 50%);
          "
        >
          <p class="question">{{ card.question }}</p>
          <form>
            <input type="text" placeholder="Write your answer" />
          </form>
        </div>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recallr | All rights reserved</p>
    </footer>

    <script>
        const cardsContainer = document.querySelector(".card-container");
        const timeRemaining = document.querySelector("h2 span");

        const quizId = Number(cardsContainer.getAttribute("data-quiz-id"));
        const deckName = cardsContainer.getAttribute("data-deck-name");
        const quizStart = Number(cardsContainer.getAttribute("data-quiz-start"));
        const quizEnd = Number(cardsContainer.getAttribute("data-quiz-end"));

        if (cardsContainer.childElementCount === 0) {
            window.location.href = `/deck/${deckName}/result/${quizId}`;
        }

        async function handleAnswer(e) {
            e.preventDefault();
            const answer = e.target.querySelector("input").value;
            const quizId = Number(cardsContainer.getAttribute("data-quiz-id"));
            const cardId = e.target.parentElement.getAttribute("data-card-id");

            const answerRequest = {
                quiz_id: quizId,
                card_id: cardId,
                answer: answer
            };

            const request = await fetch(`/deck/${deckName}/quiz`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(answerRequest)
            });

            if (!request.ok) {
                alert("Something went wrong");
            }
            else {
                e.target.parentElement.classList.add("turn-transparent");

                setTimeout(() => {
                    cardsContainer.removeChild(e.target.parentElement);
                    if (cardsContainer.childElementCount === 0) {
                        window.location.href = `/deck/${deckName}/result/${quizId}`;
                    }
                }, 200);
            }

        }


        const now = Math.floor(Date.now() / 1000);
        let time = quizEnd - now;

        if (now > quizEnd) {
            alert("Quiz is over");
        }


        const interval = setInterval(() => {
            let minutes = Math.floor(time / 60);
            let seconds = time % 60;
            timeRemaining.innerText = `0${minutes}:${seconds < 10 ? "0" + seconds : seconds}`;
            time--;
            if (time === 0) {
              timeRemaining.innerText = "Time's up!";
              clearInterval(interval);
            }

        }, 1000);



        const forms = document.querySelectorAll("form");

        forms.forEach(form => {
          input = form.querySelector("input");
          input.value = "";
          form.addEventListener("submit", handleAnswer);
        });

    </script>
  </body>
</html>
